html {
    background: var(--gradient);
    height: 100%;
}

main {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
}

input {
    cursor: pointer;
    margin: 0 0.7rem;
    padding: 0.5rem 1rem;
}

button {
    background-color: var(--first-color);
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    margin: 0 0.3rem;
    padding: 0.3rem;
}

.form {
    align-items: center;
    display: flex;
    margin: 2rem 0rem;
}

.to-do__items {
    width: 97%;
}

.to-do__task {
    align-items: center;
    background: #fff;
    border-radius: 12px;
    display: flex;
    font-size: 18px;
    justify-content: space-between;
    margin: 1rem 0;
    padding: 1.3rem 0;
}

.to-do__task > div {
    display: flex;
    padding: 0.3rem 0;
}

.checked>p {
    font-style: italic;
    text-decoration: line-through;
}